.mainSignup {
  width: 100vw;
  height: 87vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerz {
}
.inner-page2 {
  margin-top: 42px;
  width: 580px;
  height: 497px;
  border-radius: 8px;
  border: 0.5px #e5eeff solid;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.Inner_main1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-page3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social {
  display: flex;
  align-items: center;
  cursor: pointer;
  display: flex;
  width: 102px;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 2px;
  border: 1px solid var(--neutral-n-500, #c1c4d6);
}

.button-Signup {
  width: 177px;
  border: 1px solid white;
  background: #ffffff;
  justify-content: center;
  align-items: center;
  display: flex;
  color: #8d95b2;
  font-size: 16px;
  /* font-family: 'Inter'; */
  font-weight: bold;
  line-height: 24px;
  word-wrap: break-word;



  

     
}
.button-Sign {
  width: 348px;
  /* height: 40px; */
  padding: 8px;
  background: #0050f5;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  /* gap: 382px; */
  display: flex;
  color: white;
  margin-top: 35px;
}
.button-Signup:focus {
  color: #0071fe;
  background-color: #e9f0ff;
  /* color: white; */
  border: none;
  border-radius: 5px;
  padding: 12px 11px;
  cursor: pointer;
}
.social-Signup {
  cursor: pointer;
  display: flex;
  /* width: 102px; */
  padding: 6px 36px;
  justify-content: center;
  align-items: center;
  /* gap: 216px; */
  margin-top: 55px;
  border-radius: 2px;
  border: 1px solid var(--neutral-n-500, #c1c4d6);
}
.divider{
  width:20px;
  height:auto;
  display:inline-block;
}
input{
  text-indent: 10px;
}