

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: white;
  padding: 10px 20px;
}

.navbar-logo img {
  max-width: 100px;
}

.navbar-menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-menu li {
  margin: 0 15px;
}

.navbar-menu a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.login-button {
  background-color: #0050F5;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}
.signup-button {
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }

  .navbar-logo img {
    margin-bottom: 10px;
  }

  .navbar-menu {
    flex-direction: column;
    align-items: center;
  }

  .navbar-menu li {
    margin: 10px 0;
  }

  .login-button {
    margin-top: 10px;
  }
  .signup-button {
    margin-top: 10px;
  }
}




.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.diagonal-card {
  width: 300px;
  height: 200px;
  margin: 20px;
  background-color: #3498db;
  color: white;
  text-align: center;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
}

.diagonal-card h2 {
  margin: 0;
  padding: 20px;
}

@media (max-width: 768px) {
  .diagonal-card {
    width: 90%;
  }
}






.cardClass{
  list-style: none;
  display: flex;
  align-items: center;
}
.display-picture{
  margin-left: auto;
}
.display-picture img{
  width: 50px;
  border-radius: 50%;
  border:2px solid #fff;
}
.display-picture img:hover{
border:2px solid #0052f4;
}
.cards{
  transition: 0.5s ease;
}

.cards .cardClass{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background: #0052f4;
  position: absolute;
  top: 4rem;
  right:0rem;
border-radius: 10px;
padding: 10px 50px 10px 20px;
}
.cards  .cardClass .cardList{
 
  padding: 5px 0;
  color: #FFF;
  font-size: 14px;
}
.hiddens{
  display: none;
}
.cardLink
{
  text-decoration: none;
  color:#fff;
}

.cardLink :hover
{
  
  color:red;
}
