.Pagesection1 {
  width: 100vw;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.Pagesection1 img {
  margin: auto;
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.photo__cover {
  right: 20px;
  bottom: 20px;
  position: absolute;
}

.photo__cover__btn {
  gap: 8px;
  height: 40px;
  width: 200px;
  border: none;
  outline: none;
  display: flex;
  cursor: pointer;
  color: #474d66;
  padding: 4px 12px;
  border-radius: 8px;
  align-items: center;
}

.photo__cover__btn:hover,
.photo__cover__btn:focus {
  opacity: 0.9;
}

.photo__cover__btn p {
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  font-style: normal;
}

.Pagesection2 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Pagesection2__container {
  width: 1000px;
  bottom: -150px;
  position: absolute;
}

.Pagesection2__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Pagesection2__left {
  gap: 24px;
  display: flex;
  align-items: center;
}

.Pagesection2__left__side1 {
  position: relative;
}

.Pagesection2__left__side1 img {
  width: 165px;
  height: 165px;
  object-fit: cover;
  border-radius: 100%;
  border: 1px solid white;
}

.Pagesection2__left__side1 button {
  right: 10px;
  width: 40px;
  bottom: 10px;
  height: 40px;
  outline: none;
  display: flex;
  cursor: pointer;
  position: absolute;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
}

.Pagesection2__left__side1__btn img {
  width: 30px !important;
  height: 30px !important;
  border: none !important;
}

.Pagesection2__left__side1__btn img:hover,
.Pagesection2__left__side1__btn img:focus {
  opacity: 0.9;
}

.Pagesection2__left__side2 h2 {
  font-size: 32px;
  color: #101840;
  font-weight: 600;
  line-height: 40px;
  font-style: normal;
}

.Pagesection2__left__side2 h4 {
  font-size: 18px;
  color: #101840;
  font-weight: 400;
  line-height: 24px;
  font-style: normal;
}

.Pagesection2__left__side3__btn {
  gap: 8px;
  height: 40px;
  width: 150px;
  border: none;
  display: flex;
  color: white;
  border-radius: 8px;
  align-items: center;
  padding: 8px 16px 8px 12px;
  background-color: #52bd94;
}

.Pagesection2__left__side3__btn p {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  font-style: normal;
}

.Pagesection2__right {
  display: flex;
  font-size: 20px;
  color: #474d66;
  font-weight: 600;
  line-height: 24px;
  font-style: normal;
  align-items: flex-end;
  flex-direction: column;
}

.Pagesection2__right p:first-child {
  margin-bottom: 20px;
}
