.mainSignup {
  width: 100vw;
  height: 87vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.divider{
  width:20px;
  height:auto;
  display:inline-block;
}
.inner-main1 {
   display: flex;
justify-content: center;
align-items: center;
}

.signup-options button {
  background-color: #eee;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
.inner-page2 {
  margin-top: 42px;
  width: 580px;
  height: 680px;
  border-radius: 8px;
  border: 0.5px #e5eeff solid;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.emailClass {
  /* width: 348px; */
  height: 40px;
  /* flex-shrink: 0; */
  border-radius: 8px;
  background: #ebf0ff;
  font-size: 16px;
  font-style: normal;
  /* font-weight: 400; */
  /* line-height: 24px; */
  /* margin-top: 13px; */
  border: 1px solid white;
}
.signup-options button.active {
  background-color: #007bff;
  color: #fff;
}

.signup-form {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/* 
.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
} */
input{
  text-indent: 10px;
}
.button-Signup {
  width: 177px;
  border: 1px solid white;
  background: #ffffff;
  justify-content: center;
  align-items: center;
  display: flex;
  color: #8d95b2;
  font-size: 16px;
  /* font-family: 'Inter'; */
  font-weight: bold;
  line-height: 24px;
  word-wrap: break-word;     
}
.button-Sign {
  width: 348px;
  /* height: 40px; */
  padding: 8px;
  background: #0050f5;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  /* gap: 382px; */
  display: flex;
  color: white;
  margin-top: 35px;
}
.button-Signup:focus {
  color: #0071fe;
  background-color: #e9f0ff;
  /* color: white; */
  border: none;
  border-radius: 5px;
  padding: 12px 11px;
  cursor: pointer;
}
.anchor{
  
  color: #696f8c;
  font-size: 14px;
  font-family: "Inter";
  font-weight: 500;
  line-height: 50px;
  word-wrap: break-word;
  cursor: pointer;
}
.inner-page3{
  justify-content: center;
  align-items: center;
  display: flex;
}
.password-meter {
  width: 100%;
}

.password-meter__bar {
  width: 33.333%;
  height: 7px;
  background: #eee;
  margin-bottom: 1rem;
  position: relative;
}

.password-meter__bar__inner {
  width: 0;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.password-meter__bar::-webkit-progress-bar {
  border: 0;
  height: 40px;
  border-radius: 20px;
}
.password-meter__bar::-webkit-progress-value {
  border: 0;
  height: 40px;
  border-radius: 20px;
}
.password-meter__bar::-moz-progress-bar {
  border: 0;
  height: 40px;
  border-radius: 20px;
}

.password-meter__label {
  color: #666;
  font-size: 12px;
}

.password-meter__label span {
  font-weight: bold;
}