/* App.css */

body.light {
  background-color: #ffffff;
  color: #000000;
}

body.dark {
  background-color: #333333;
  color: #ffffff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #007bff;
  color: #ffffff;
}

.mode-toggle button {
  background-color: transparent;
  color: #ffffff;
  border: none;
  cursor: pointer;
}
